extends layout

block content
    p Home dell'amministratore
    h1 Benvenuto #{user.nome}
    a(href='admin/userList') Manage user list
    br
    a(href='/admin/logout') Logout
    br
    a(href='/') Torna alla Home