extends layout
block content
    script(src='/javaScript/chart.js')
    if lettureCentralina[0]
        .row
            .col-xs-12.col-sm-12.col-md-6.col-md-offset-3.col-lg-8.col-lg-offset-2
                script(type='text/javascript').

                    window.onload = function () {
                        var lettureCentralina = !{JSON.stringify(lettureCentralina)};
                        var bleNumber = lettureCentralina[0].ble_servers.length;
                        var chart =  chartCentralina(lettureCentralina);

                        chart.render();

                        for (var i = 0; i < bleNumber; i++) {
                            chart = chartSensore(lettureCentralina,i);
                            chart.render();
                        }
                    };
                center
                div(id='#{lettureCentralina[0].name}',style='height: 400px; width: 100%;')
                br

        .row
            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                br
                iframe(style='height: 350px; width: 100%; border: 1px solid #cccccc;', src='https://thingspeak.com/channels/78396/charts/1?width=700&height=340&average=15&bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=800&type=line&yaxismin=0&days=14')
                br
            each i in lettureCentralina[0].ble_servers
                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                    center
                    div(id = '#{i.id_ble}', style = 'height: 400px; width: 100%;')
    else
        .row
            .col-xs-12.col-sm-12.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
                h1.text-success.text-center Nessun dato da visualizzare
