doctype html
html
head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap-3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    div(id='carousel-example-generic' data-ride='carousel').carousel.slide
        // Indicators
        ol.carousel-indicators
            li.active(data-target='#carousel-example-generic', data-slide-to='0')
            li(data-target='#carousel-example-generic', data-slide-to='1')
            li(data-target='#carousel-example-generic', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner(role='listbox',style='height:180px; margin:0 auto')
            .item.active
                img.img-responsive(src='/img/1.jpg',alt='Responsive image')
                .carousel-caption
            .item
                img.img-responsive(src='/img/3.jpg',alt='Responsive image').center-block
                .carousel-caption
            .item
                img.img-responsive(src='/img/4.jpg',alt='Responsive image').center-block
                .carousel-caption
        // Controls
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
    .container
        .row
            div.col-xs-12.col-md-12.col-lg-12
                h1=title
                p Welcome to #{title}
                a(href="/login") Login
        .row
            .col-xs-offset-2.col-sm-offset-2.col-md-offset-4.col-lg-offset-4
                .buttons
                    a.btn.btn-default.btn.active(href='/login', role='button') Gli orti
                    a.btn.btn-default.btn.active(href='/login', role='button') Social
                    a.btn.btn-default.btn.active(href='/login', role='button') Chi siamo
                    a.btn.btn-default.btn.active(href='/login', role='button') Market

    script(src='/bootstrap-3.3.7/js/jquery-3.1.1.min.js')
    script(src='/bootstrap-3.3.7/js/bootstrap.min.js')
