extends layout

block content

    div(id='carousel-example-generic' data-ride='carousel').carousel.slide
        // Wrapper for slides
        .carousel-inner
            .item.active
                img(src='/img/1.jpg',alt='banner').center-block
            .item
                img(src='/img/2.jpg',alt='Responsive image').center-block
            .item
                img(src='/img/3.jpg',alt='Responsive image').center-block
        // Controls
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
    center
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    h1.text-success.text-center(style='font-weight:bold')=title
                    p.text-muted(style='font-size:20px') Un giorno, in un orto urbano dimenticato di Roma, abbiamo trovato delle arnie di api.
                    p.text-muted(style='font-size:20px') Da qui la nostra idea di unire le capacità collaborative tipiche delle api alla gestione di un orto sociale.
                    p.text-muted(style='font-size:20px') Per l'appunto, “GreenBee”.
            br
            br
            br
            .row
                .col-xs-4.col-sm-4.col-md-3.col-lg-4
                    a(data-toggle='collapse',href='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
                        img.img-responsive(src='/img/l1.png' style='width:80px')
                    #collapseExample.collapse
                        //.well
                            //| Qui ci andrà la mappa con gli orti
                            //img(src="https://maps.googleapis.com/maps/api/staticmap?center=Fiera+Di+Roma,Roma+Italia&zoom=13&size=300x300&markers=41.807097,12.3194695&sensor=false")
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11895.937500531732!2d12.319469530945941!3d41.80709701463151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1325f4304366abb1%3A0x9b4b3a2f45eee1eb!2sFiera+di+Roma!5e0!3m2!1sit!2sit!4v1476276840628', width='300', height='300', frameborder='0', style='border:0', allowfullscreen='')
                    p Gli orti
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(data-toggle='collapse',href='#collapseExample1', aria-expanded='false', aria-controls='collapseExample1')
                        img.img-responsive(src='/img/l4.png' style='width:80px')
                    #collapseExample1.collapse
                        .well.text-justify
                            | Grazie a GreenBee avrai la possibilità di scambiarare pareri sugli orti con altre persone e non solo...
                            br
                            | Ti sarà possibile inoltre scambiare la frutta e verdura che produci con BioCoin, la moneta ufficiale di GreenBee che ti permetterà di aquistare altra frutta e verdura
                    p Social
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(data-toggle='collapse',href='#collapseExample2', aria-expanded='false', aria-controls='collapseExample2')
                        img.img-responsive(src='/img/l3.png' style='width:80px')
                    #collapseExample2.collapse
                        .well.text-justify
                            | Qui ci andranno le nostre foto o altro
                    p Chi siamo
                //.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    a(href='#')
                        img.img-responsive(src='/img/l4.png' style='width:80px')
                    p Market
            br
            br
            br