extends layout

block content
    div(id='carousel-example-generic' data-ride='carousel').carousel.slide
        // Wrapper for slides
        .carousel-inner
            .item.active
                img(src='/img/1.png',alt='banner').center-block
            .item
                img(src='/img/2.png',alt='Responsive image').center-block
            .item
                img(src='/img/3.png',alt='Responsive image').center-block
        // Controls
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
    center
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    h1.text-success.text-center(style='font-weight:bold')=title
                    p.text-muted(style='font-size:20px') Un giorno, in un orto urbano dimenticato di Roma, abbiamo trovato delle arnie di api.
                    p.text-muted(style='font-size:20px') Da qui la nostra idea di unire le capacità collaborative tipiche delle api alla gestione di un orto sociale.
                    p.text-muted(style='font-size:20px') Per l'appunto, “GreenBee”.
            br
            br
            br
            .row
                .col-xs-4.col-sm-4.col-md-3.col-lg-4
                    a(data-toggle='collapse',href='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
                        img.img-responsive(src='/img/l1.png' style='width:80px')
                    #collapseExample.collapse
                        .well
                            | Qui ci andrà la mappa con gli orti
                    p Gli orti
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(data-toggle='collapse',href='#collapseExample1', aria-expanded='false', aria-controls='collapseExample1')
                        img.img-responsive(src='/img/l4.png' style='width:80px')
                    #collapseExample1.collapse
                        .well
                            | Qui ci andranno le info sul social
                    p Social
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(data-toggle='collapse',href='#collapseExample2', aria-expanded='false', aria-controls='collapseExample2')
                        img.img-responsive(src='/img/l3.png' style='width:80px')
                    #collapseExample2.collapse
                        .well
                            | Qui ci andranno le nostre foto o altro
                    p Chi siamo
                //.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    a(href='#')
                        img.img-responsive(src='/img/l4.png' style='width:80px')
                    p Market
            br
            br
            br

