doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/bootstrap-3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav.navbar.navbar-default.navbar-fixed-top
            div.container-fluid
                div.navbar-header
                    button(type='button',class='navbar-toggle collapsed',data-toggle='collapse',data-target='#collapse1',aria-expanded='false')
                        span.sr-only
                            | Toggle Navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(href='#').navbar-brand
                        | Brand
                div(id='collapse1').collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(id='homeUser')
                            a(href='/user')
                                | Home
                        li(id='market')
                            a(href='/user/market')
                                | Market
                        li(id='storicoTransazioni')
                            a(href='/user/storicoTransazioni')
                                | Le Mie Transazioni
                        li(id='gestisciColtivazioni')
                            a(href='/user/gestisciColtivazioni')
                                | Le Mie Coltivazioni
                        li(id='toDoList')
                            a(href='/user/toDoList')
                                | Cosa c'è da fare
                        if user.admin
                            li.dropdown
                                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                                    | Amministrazione
                                    span.caret
                                ul.dropdown-menu
                                    li(id='sensori')
                                        a(href='/admin/sensori')
                                            | Sensori
                                    li(id='gestisciUtenti')
                                        a(href='/admin/userList')
                                            | Gestisci Utenti
                                    li(id='prezzario')
                                        a(href='/admin/prezzario')
                                            | Prezzario

                    ul(class="nav navbar-nav navbar-right")
                        li(id='welcome')
                            a(href='#' style="cursor:text;")
                                | Ciao #{user.nome}
                        li
                            | &nbsp;&nbsp;&nbsp;
                            input(type="button" onclick="location.href='/user/logout'" value="LogOut").btn.btn-default.navbar-btn
                            | &nbsp;&nbsp;
        br
        br
        br
        br
        block content
    script(src='/bootstrap-3.3.7/js/jquery-3.1.1.min.js')
    script(src='/bootstrap-3.3.7/js/bootstrap.min.js')
    script(src='/javaScript/script.js')