doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/bootstrap-3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        .container
            div(id='pwd-container').row
                .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4
                    section.login-form
                        form(role='login', action="/login",method="post")
                            | #{title}
                            input.form-control.input-lg(type='text', name="username", placeholder='Enter Username',required)
                            input.form-control.input-lg(type='password', name="password", placeholder='Password',required)
                            .pwstrength_viewport_progres
                            button.btn.btn-primary.btn-block(type='submit', name='go') Sign In
                            a(href='/')
                                button.btn.btn-primary.btn-block(type="button") Back to Home


        script(src='/bootstrap-3.3.7/js/jquery-3.1.1.min.js')
        script(src='/bootstrap-3.3.7/js/bootstrap.min.js')