extends layout

block content
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-3
            center
                a(type='button',href='/admin/addUser').btn.btn-mug  Aggiungi Un Utente
        .col-xs-12.col-sm-12.col-md-12.col-lg-8
            table.table.table-striped.pull-left
                tr
                    th(colspan='5').text-center.success Ecco gli utenti registrati al tuo orto
                tr
                    th Nome
                    th Username
                    th Password
                    th Amministratore
                    th Opzioni
                each utente in listaUtenti
                    tr
                        td #{utente.nome}
                        td #{utente.username}
                        td #{utente.password}
                        td #{utente.admin}
                        td
                            a(href="#").btn.btn-mug Rinomina
                            | &nbsp;
                            a(href="#").btn.btn-mug  Cambia Password
                            | &nbsp;
                            a(href="#").btn.btn-mug  Cambia Username
