body {
    font: 18px Georgia, serif;
    padding-top: 50px;
}

a {
    color: #00B7FF;
}

/*
    Upload images with preview
*/
.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/**
*  MuG Color
*/
.btn-mug {
    color: #fff;
    background-color: #007c8c;
    border-color: #2d6da4;
}
.btn-mug:focus,
.btn-mug.focus {
    color: #ffffff;
    background-color: #286293;
    border-color: #1f4c72;
}
.btn-mug:hover {
    color: #ffffff;
    background-color: #286293;
    border-color: #427bad;
}
.btn-mug:active,
.btn-mug.active,
.open > .dropdown-toggle.btn-mug {
    color: #ffffff;
    background-color: #286293;
    border-color: #427bad;
}
.btn-mug:active:hover,
.btn-mug.active:hover,
.open > .dropdown-toggle.btn-mug:hover,
.btn-mug:active:focus,
.btn-mug.active:focus,
.open > .dropdown-toggle.btn-mug:focus,
.btn-mug:active.focus,
.btn-mug.active.focus,
.open > .dropdown-toggle.btn-mug.focus {
    color: #ffffff;
    background-color: #427bad;
    border-color: #1f4c72;
}
.btn-mug:active,
.btn-mug.active,
.open > .dropdown-toggle.btn-mug {
    background-image: none;
}
.btn-mug.disabled:hover,
.btn-mug[disabled]:hover,
fieldset[disabled] .btn-mug:hover,
.btn-mug.disabled:focus,
.btn-mug[disabled]:focus,
fieldset[disabled] .btn-mug:focus,
.btn-mug.disabled.focus,
.btn-mug[disabled].focus,
fieldset[disabled] .btn-mug.focus {
    background-color: #6c98bf;
    border-color: #568ab6;
}
.btn-mug .badge {
    color: #6c98bf;
    background-color: #ffffff;
}
.text-mug {
    color: #2d6da4;
}
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
}

/*+
* LogIn on Navbar
*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
